# Functions

*By completing these challenges, you'll demonstrate that you understand key programming concepts.*

**Use the provided code cells to answer at least eight of the following question.** There are questions of varying difficulty (Levels 1, 2 and 3) so please select at least one from each level!

When you’ve finished, call me over to read it and sign off on it. I’ll also want to run your programs, so make sure the notebook runs properly!

Don’t forget to use comments appropriately.


### Level 1

1. Area of a circle is calculated as follows: $area = \pi r^2$ and $perimeter = 2\pi r$. Write a function that calculates **`area_of_circle`** and **`perimeter_of_circle`**. Your code should test this function using a **`print`** statement.

2. Write a function called **`add_all_nums`** which takes arbitrary number of arguments and sums all the arguments. Check if all the list items are number types. If not, give the user a reasonable feedback.

3. Temperature in **°C** can be converted to **°F** using this formula: **°F = (°C x 9/5) + 32**. Write a function which converts **°C to °F**, **`convert_celsius_2_fahrenheit`**.

4. Write a function called **`check_season`**, it takes a month parameter and returns the season: Autumn, Winter, Spring or Summer.

5. Write a function called **`calculate_slope`** which return the slope of a linear equation

6. Quadratic equation is calculated as follows: $ax^2 + bx +c =0$. Write a function which calculates the solution set of a quadratic equation, **`solve_quadratic_eqn`**.

7. Declare a function named **`print_list`**. It takes a list as a parameter and it prints out each element of the list.

8. Declare a function named **`reverse_list`**. It takes an array as a parameter and it returns the reverse of the array (use loops).

```python
print(reverse_list([1, 2, 3, 4, 5]))
#[5, 4, 3, 2, 1]
print(reverse_list1(["A", "B", "C"]))
#["C", "B", "A"]
```

9. Declare a function named **`capitalize_list_items`**. It takes a list as a parameter and it returns a capitalized list of items

10. Declare a function named **`add_item`**. It takes a list and an item parameters. It returns a list with the item added at the end.

```python
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk']
print(add_item(food_staff, 'Fungi'))  #['Potato', 'Tomato', 'Mango', 'Milk', 'Fungi']
numbers = [2, 3, 7, 9]
print(add_item(numbers, 5))      #[2, 3, 7, 9, 5]
```

11. Declare a function named **`remove_item`**. It takes a list and an item parameters. It returns a list with the item removed from it.

```python
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk']
print(remove_item(food_staff, 'Mango'))  # ['Potato', 'Tomato', 'Milk']
numbers = [2, 3, 7, 9]
print(remove_item(numbers, 3))  # [2, 7, 9]
```

12. Declare a function named **`sum_of_numbers`**. It takes a number parameter and it adds all the numbers in that range.

```python
print(sum_of_numbers(5))  # 15
print(sum_all_numbers(10)) # 55
print(sum_all_numbers(100)) # 5050
```

13. Declare a function named **`sum_of_odds`**. It takes a number parameter and it adds all the odd numbers in that range.

14. Declare a function named **`sum_of_even`**. It takes a number parameter and it adds all the even numbers in that - range.

### Level 2

15.  Declare a function named **`evens_and_odds`**. It takes a positive integer as parameter and it counts number of evens and odds in the number.

```python
print(evens_and_odds(100))
#The number of odds are 50.
#The number of evens are 51.
```

16. Call your function **`factorial`**, it takes a whole number as a parameter and it return a factorial of the number

17. Call your function **`is_empty`**, it takes a parameter and it checks if it is empty or not

18. Write different functions which take lists. They should **`calculate_mean`**, **`calculate_median`**, **`calculate_mode`**, **`calculate_range`**, **`calculate_variance`**, **`calculate_std`** (standard deviation).

### Level 3

19. Write a function called **`is_prime`**, which checks if a number is prime.

20. Write a functions which checks if all items are unique in the list.

21. Write a function which checks if all the items of the list are of the same data type.

22. Write a function which check if provided variable is a valid python variable

23. Download the `countries_details_data.py` from Teams and upload it to your project by dragging it to the `FILES` section on the left hand panel. You can load this list of country data into the variable `country_data` by using the following code

```python
from countries_details_data import country_data
```

- Create a function called the **`most_spoken_languages`** in the world. It should return 10 or 20 most spoken languages in the world in descending order
- Create a function called the **`most_populated_countries`**. It should return 10 or 20 most populated countries in descending order.